* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* changed color to match Benefits box */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #afb6aa;
    /* i changed it to a darker color, so it can be presive on the site */
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

p {
    font-size: 16px;
}

/* adjusted height */
.hero {
    height: 630px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibre', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
/* Changed border and added shadow for enhancement */
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed color to match Benefits box */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
/* Changed border and added shadow for enhancement */
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/* changed color to match Benefits box */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
/* Changed border and added shadow for enhancement */
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/* changed color to match Benefits box */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
/* Changed border and added shadow for enhancement */
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* made title and description centered the box */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 36px;
}

/* made title and description centered the box */
/* made title adjusted to the right, closer to pic */
.online-reputation-management h2 {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: right;
    font-size: 36px;
}

/* made description adjusted to the right, closer to pic */
.online-reputation-management p{
    text-align: right;
}

/* made title and description centered the box */
.social-media-marketing h2 {
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* made the font size smaller */
.footer h2 {
    font-size: 18px;
}

/* made the font size smaller */
.footer p{
    font-size: 13px;
}
.benefits p{
    text-align: center;
}
